<!DOCTYPE html>
<html lang="pt-AO">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font-awesome -->

    <!-- Bootstrap link -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <title>Chat SD TEAM</title>
</head>

<body>

    <section id="main" class="bg-light">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 height bg-primary p-0 m-0" id="div-opces">
                    <div class="px-3 d-flex align-items-center">
                        <img src="./assets/img/Appim.png" alt="sd team">
                        <p class="text-dark lead ml-2">SD TEAM</p>
                    </div>
                    <ul class="list-group-opcoes">
                        <li><a href="#" class="text-white-50 lead">
                                <img src="./assets/img/user_groups_30px.png" class="img-fluid" alt="grupos"> Grupos
                            </a></li>
                        <li><a href="#" class="text-white-50 lead focus">
                                <img src="./assets/img/user_30px.png" class="img-fluid" alt="grupos"> Pessoas
                            </a></li>
                    </ul>
                    <p class="text-white" id="user"></p>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-6 overflow-auto" id="group-membros">
                            <!-- membros activos-->
                            <div class="chat-activos ">
                                <div class="row">
                                    <div class="col d-flex justify-content-between align-items-center bg-white mb-4 py-1 px-4"
                                        id="div-membros-activos">
                                        <p class="text-primary lead">Membros</p>
                                        <p class="text-primary lead">Activo <span><img src="./assets/img/activo.png"
                                                    class="ml-1"></span></p>
                                    </div>
                                </div>
                                <!--  membros activos item -->
                                <!-- fim -->
                            </div>
                        </div>
                        <!-- mensagens do grupo -->
                        <div class="col-sm-12 mx-auto p-0 px-4 m-0 d-none" id="group-mensagem-grupo">
                            <div class="row">
                                <div class="col-sm-8 mx-auto p-0 m-0">
                                    <div class="context-mensagens height-80" id="mensagem-group">
                                    </div>
                                    <form id="frmGrupo" method="POST" class="bg-white px-3 py-2 m-0 d-block height-20">
                                        <div class="form-group">
                                            <textarea name="txtMensagem" required class="form-control"
                                                id="text-mensagem" placeholder="Mensagem" cols="20" rows="3"></textarea>
                                        </div>
                                        <input type="submit" value="Enviar" class="btn btn-success px-5">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- fim div do grupo -->
                        <div class="col-sm-6 p-0 m-0 d-none" id="div-mensagens">
                            <div id="mensagens-body">                               
                                <div class="context-mensagens mt-1 height-80" id="group-mensagem">
                                </div>
                                <form action="/meu" id="frmParticular" method="POST"
                                    class="bg-white px-3 py-2 m-0 d-block height-20">
                                    <input type="text" hidden="true" name="idDestino">
                                    <div class="form-group">
                                        <textarea name="txtMensagem" required class="form-control" id="text-mensagem"
                                            placeholder="Mensagem" cols="10" rows="3"></textarea>
                                    </div>
                                    <input type="submit" value="Enviar" class="btn btn-success px-5">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <script src="./assets/polyfill.min.js"></script>
    <script src="./assets/index.js"></script>
    <script src="./assets/soket3.0.5.js"></script>
    <script src="./assets/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap Javascript  -->
    <script src="./assets/bootstrap.bundle.min.js"></script>

</body>

</html>